[submodule "externals/pybind11"]
	path = externals/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "externals/Eigen"]
	path = externals/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "externals/Catch"]
	path = externals/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "externals/ThreadPool2"]
	path = externals/ThreadPool2
	url = https://github.com/stfx/ThreadPool2.git
[submodule "externals/boost-cmake"]
	path = externals/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "externals/autodiff"]
	path = externals/autodiff
	url = https://github.com/autodiff/autodiff
